body {
    font-family: Helvetica, sans-serif;
    background-color: #FFF5F7;
    color: #602437;
}

header {
    background-color: #8A2846;
    color: white;
    padding: 20px;
}

nav {
    background-color: #FFCAD4;
    padding: 15px;
    border-bottom: 1px solid #E05780;
}

nav ul {
    list-style: none;
    display: flex;
    background-color: #FFCAD4;
}

nav li {
    margin-right: 10px;
}

nav a {
    color: #602437;
    text-decoration: underline;
}

nav a:hover {
    color: #B9375E;
}

main {
    padding: 20px;
}

section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #FFCAD4;
}

section a {
    color: #B9375E;
    text-decoration: underline;
}

section a:hover {
    color: #E05780;
}

footer {
    background-color: #8A2846;
    color: white;
    padding: 15px;
    margin-top: 30px;
    border-top: 1px solid #602437;
}

.mensaje_error{
    color: #B9375E;
}